* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  transition: all 0.5s;
}

.dark-mode {
  background-color: rgb(8, 8, 8);
  color: white;
}

.switch {
  position: relative;
  display: block;
  width: 90px;
  height: 55px;
  left: 90%;
  top: 30px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transition: 0.5s;
  border: 3px solid white;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.4);
}
.slider:before {
  position: absolute;
  content: "";
  bottom: 14px;
  top: 8px;
  background-color: black;
  transition: 0.5s;
}
.switch input {
  display: none;
}
input:checked + .slider {
  background: black;
}
.slider.round {
  border-radius: 35px;
}
.slider.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg);
}
input:checked + .slider:before {
  transform: translateX(47px) rotateZ(45deg);
  background-color: yellow;
}

i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.kick-pad {
  background: rgb(160, 211, 224);
}
.snare-pad {
  background: rgb(224, 160, 208);
}
.hihat-pad {
  background: rgb(224, 194, 160);
}
.kick-pad.active {
  background: rgb(59, 197, 231);
}
.snare-pad.active {
  background: rgb(224, 58, 178);
}
.hihat-pad.active {
  background: rgb(216, 164, 105);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}
select {
  padding: 1rem;
  font-size: 1rem;
}
.mute.active {
  background: grey;
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(80, 80, 80);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
